.block_totara_alerts ul {
    list-style-type: none;
    margin: 0;
}

.block_totara_alerts li {
    padding: 5px;
}

.block_totara_alerts li .information {
    float: right;
    margin-top: 5px;
}

.block_totara_alerts li :first-child {
    margin-right: 3px;
}
.block_totara_alerts li a {
    vertical-align: top;
}
.block_totara_alerts li span {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 3px;
}
