/**
 * CSS for displaying courses and everything in them
 */

.dir-rtl .course-content ul.section li.activity span.autocompletion,
.dir-rtl .course-content ul.section li.activity form.togglecompletion {right:auto;left:0px;}
